#navbar{
    height: 50px;
    background-color: blue;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 30px; */
}
#navbar h1{
    color: white;
    font-size: 24px;
    margin-left: 20px;
}
#navbar btn-cart{
    background-color: yellowgreen;
    color: white;
    border: none;
    padding: 10px 30px;
    margin: 400px;
}
#navbar btn-cart:hover{
    color: black;
    background-color: rgb(125, 148, 79);
    cursor: pointer;
}
#cart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    .product-box{
        border: 2px solid #ccc;
        border-radius: 10px;
        background-color: #ffffff;
        height: 500px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* color: #ffffff; */
        margin-top: 10px;
        img{
            height: 200px;
            width: 200px;
        }
        
    }
}
button{
    background-color: rgb(238, 250, 143);
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}
/* table{
    border: 1px solid black;
    /* color: rgb(17, 100, 32); */
    /* border-collapse: collapse;
    padding: 20px;
    margin: auto; 
}
/* .cart th{
    border: 1px solid black;
    padding: 30px;
    border-collapse: collapse; */
    /* margin: auto; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* gap: 70px; 

}
/* #tbody{
    border: 1px solid black;
    border-collapse: collapse;
}  */
